---
import Layout from "../layouts/Layout.astro";
import ContentDestails from "../components/ContentDetails.astro";
import Summary from "../components/Summary.astro";
import Instruction from "../components/Instructions.astro";
import Archive from "../components/Archives.astro";
import Solutions from "../components/Solutions.astro";
---

<Layout>
  <div class="max-w-7xl mx-auto px-4 py-12">
    <div class="flex flex-col items-center text-center md:text-left gap-6">
      <ContentDestails/>
      <Summary/>
      <Instruction/>
      <Archive/>
      <Solutions/>
  </div>
  </div>
</Layout>

