---
const { test } = Astro.props;
---

<div class="relative z-10 bg-white rounded-xl w-full mb-4">
    <div
        class="p-6 bg-white rounded-2xl shadow-lg flex flex-col md:flex-row items-start md:space-x-4 w-full"
    >
        <!-- Contenido -->
        <div class="flex-1 w-full">
            <h2 class="text-xl font-bold text-gray-900 mb-2">
                Archivos para Descargar
            </h2>
            <p class="text-gray-600 mb-4">
                Descarga todos los recursos necesarios para completar el reto
            </p>

            <div class="flex flex-col gap-4">
                <!-- Archivos de Descarga -->
                {test.data.archives.map((file: any) => (
                    <a href={file} download class="flex flex-row justify-between bg-white text-black text-sm font-medium px-3 py-2 rounded-xl border border-gray-300 hover:bg-gray-100 transition-colors cursor-pointer">
                        {test.data.title}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                    </a>
                ))}
               
            </div>
        </div>
    </div>
</div>
