---
import { render } from "astro:content";
const { test } = Astro.props;

const { Content } = await render(test);
---
<div class="relative z-10 bg-white rounded-xl w-full mb-4">
  <div
    class="p-6 bg-white rounded-2xl shadow-lg flex flex-col md:flex-row items-start md:space-x-4 w-full"
  >
    <!-- Contenido -->
    <div class="flex-1 w-full">
      <h2 class="text-xl font-bold text-gray-900 mb-2">
        Instrucciones Detalladas
      </h2>
      <p class="text-gray-600 mb-4">
        Sigue estos pasos para completar el reto exitosamente
      </p>

      <pre
        class="bg-gray-100 rounded-lg p-4 text-sm text-gray-700 overflow-x-auto">
        <Content />
      </pre>
    </div>
  </div>
</div>
